* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

main {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  background-color: #D8D2CB;
}

span {
  font-weight: bold;
}

.textotyp-titulo {
  margin-top: 5rem;
  margin-bottom: 1rem;
  padding: 2rem 2rem 2rem 2rem;
  justify-content: center;
  text-align: center;
  font-size: 2.5rem;
  background-color: #1C658C;
  border-top: solid 3px black;
  color: #D8D2CB;
  box-shadow: 3px, 3px, 10px black;
}
.textotyp-subtitulo {
  font-size: 1.5rem;
  font-weight: bold;
}
.textotyp-parrafo {
  padding: 2rem 2rem 2rem 2rem;
  font-size: 1.6rem;
  line-height: 1.6;
  background-color: #EEEEEE;
}

.video-i {
  width: 98%;
  height: 89%;
  margin-top: 5rem;
  margin-right: 1rem;
}

.contenido {
  overflow: hidden;
  width: 100%;
  height: auto;
  outline: 1px solid rgba(255, 225, 255, 0.5);
  margin-top: 3rem;
  margin-bottom: 10rem;
  flex-direction: column;
  transition: 0.5s;
  position: relative;
  -webkit-box-shadow: 10px 10px 5px 0px rgb(99, 110, 110);
  -moz-box-shadow: 10px 10px 5px 0px rgb(99, 110, 110);
  box-shadow: 10px 10px 5px 0px rgb(99, 110, 110);
  border-radius: 10px;
}
.contenido-ana {
  width: 100%;
  height: 100%;
  transition: 0.5s;
  object-fit: cover;
}
.contenido:hover {
  transform: scale(1.1);
}
.contenido-p {
  color: #fff;
  position: absolute;
  font-size: 1.6rem;
  background-color: rgba(0, 0, 0, 0.342);
  text-align: center;
  bottom: 0%;
}

.header {
  background: rgb(28, 101, 140);
  background: linear-gradient(180deg, rgba(28, 101, 140, 0.9906337535) 0%, rgb(216, 210, 203) 97%, rgb(216, 210, 203) 97%, rgb(238, 238, 238) 100%);
}

.font-nav {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  color: #fff;
  font-size: 2rem;
  font-weight: bold;
  text-shadow: 0.5px 0.5px 0.5px black;
}

.font-nav:hover {
  text-shadow: none;
  transition: 1s;
}

.hero {
  background: linear-gradient(rgba(0, 0, 0, 0.404), rgba(0, 0, 0, 0.404)), url("../assets/images/mujertrekking.webp");
}
.foto-final {
  background: linear-gradient(rgba(0, 0, 0, 0.404), rgba(0, 0, 0, 0.404)), url("../assets/images/hombredeespaldas.jpg");
}
.hero-nosotros {
  background: linear-gradient(rgba(0, 0, 0, 0.404), rgba(0, 0, 0, 0.404)), url("../assets/images/alimentoscuerdaestetoscopio.webp");
}
.hero-ejercicios {
  background: linear-gradient(rgba(0, 0, 0, 0.404), rgba(0, 0, 0, 0.404)), url("../assets/images/hero-ejercicios.jpg");
}
.hero-comunidad {
  background: linear-gradient(rgba(0, 0, 0, 0.404), rgba(0, 0, 0, 0.404)), url("../assets/images/comunidad-hero.jpeg");
}
.foto-final-comunidad {
  background: linear-gradient(rgba(0, 0, 0, 0.404), rgba(0, 0, 0, 0.404)), url("../assets/images/chicocorriendocapucha.jpg");
}
.parrafo-rgba {
  margin-top: 3rem;
  margin-bottom: 3rem;
  padding: 2rem 1rem 2rem 1rem;
  justify-content: center;
  background-color: #EEEEEE;
  font-size: 2rem;
}
.parrafo-rgba-p {
  text-align: center;
}

.foto-team img {
  display: flex;
  margin-top: 6rem;
  border-radius: 5px;
}

.beneficios-ejercicios {
  margin-top: 3rem;
  display: flex;
  text-align: center;
  justify-content: center;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
.beneficios-ejercicios-ul {
  justify-content: center;
  margin: 3rem 3rem 3rem 3rem;
  padding: 3rem 3rem 3rem 3rem;
  border-top: solid 1px black;
  border-bottom: solid 1px black;
  border-right: solid 1px black;
  border-left: solid 1px black;
}
.beneficios-ejercicios-li {
  list-style: none;
  color: black;
  font-size: 1.9rem;
}

.typ-carousel {
  background-color: rgba(0, 0, 0, 0.39);
}
.typ-carousel-titulo {
  font-size: 2.5rem;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  color: #fff;
}
.typ-carousel-parrafo {
  font-size: 2rem;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  color: #fff;
}

.foto-palta {
  height: 88%;
}

.foto-pizza {
  height: 85%;
}

.foto-plato {
  height: 90%;
}

.recetas {
  display: flex;
  justify-content: center;
  padding: 3rem 3rem 3rem 3rem;
  background-image: url("../assets/images/fondo-gris2.webp");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.recetas-h4 {
  font-weight: bold;
}
.recetas-lista {
  padding-bottom: 1rem;
}
.footer-index {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 100vw;
  height: 13rem;
  background-color: rgb(216, 210, 203);
  background: linear-gradient(180deg, rgb(216, 210, 203) 0%, rgb(216, 210, 203) 0%, rgb(28, 101, 140) 100%);
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
.footer-index-h5 {
  display: flex;
  text-align: center;
  margin: 2rem 2rem 2rem 2rem;
  font-size: 2.3rem;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  color: black;
  font-weight: bold;
  text-shadow: 0.5px 0.5px 0.5px black;
}
.footer-index-iconos {
  display: flex;
  list-style: none;
  justify-content: end;
}
.footer-index-iconos li {
  margin: 2rem 2rem 2rem 2rem;
}
.footer-index-iconos li a {
  text-decoration: none;
  justify-content: space-between;
}

.contenido, .hero, .foto-final, .hero-nosotros, .hero-ejercicios, .hero-comunidad, .foto-final-comunidad {
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero, .foto-final, .hero-nosotros, .hero-ejercicios, .hero-comunidad, .foto-final-comunidad {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.hero, .foto-final, .hero-nosotros, .hero-ejercicios, .hero-comunidad, .foto-final-comunidad {
  width: 100%;
  height: 48rem;
  flex-direction: column;
}

.hero-h1, .foto-final-h3, .hero-nosotros-h1, .hero-ejercicios-h1, .hero-comunidad-h1, .foto-final-comunidad-h3 {
  display: flex;
  text-align: center;
  font-size: 3rem;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  color: #D8D2CB;
  font-weight: bold;
}

.foto-palta, .foto-pizza, .foto-plato {
  margin-top: 5rem;
  width: 100%;
  object-fit: cover;
}

.recetas-h4, .recetas-h5, .recetas-lista, .recetas-parrafo {
  font-size: 1.5rem;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

/*# sourceMappingURL=style.css.map */
