.typ-carousel{
    background-color: rgba(0, 0, 0, 0.39);
    &-titulo{
        font-size: 2.5rem;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        color: $blanco;
    }
    &-parrafo{
        font-size: 2rem;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        color: $blanco;
    }
}
.foto-palta{
    @extend %palta;
    height: 88%;   
}
.foto-pizza{
   @extend %palta; 
    height: 85%;
}
.foto-plato{
    @extend %palta;
    height: 90%;
}

.recetas{
    display: flex;
    justify-content: center;
    padding: 3rem 3rem 3rem 3rem;
    background-image: url("../assets/images/fondo-gris2.webp");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    &-h4{
        @extend %fontrecetas;    
        font-weight: bold;
    }
    &-h5{
        @extend %fontrecetas;
    }
    &-lista{
        @extend %fontrecetas;
        padding-bottom: 1rem;
    }
    &-parrafo{
        @extend %fontrecetas;
    }
}