.beneficios-ejercicios{
    margin-top: 3rem;
    display: flex;
    text-align: center;
    justify-content: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    &-ul{
        justify-content: center;
        margin: 3rem 3rem 3rem 3rem;
        padding: 3rem 3rem 3rem 3rem;
        
        border-top: solid 1px black;
        border-bottom: solid 1px black;
        border-right: solid 1px black;
        border-left: solid 1px black;  
    }
    &-li{
        list-style: none;
        color: black;
        font-size: 1.9rem;   
    }
}