.hero{
    @extend %flex;
    @extend %width;
    @extend %background;
    background: linear-gradient( rgba(0, 0, 0, 0.404), rgba(0, 0, 0, 0.404)), url("../assets/images/mujertrekking.webp");
    &-h1{
        @extend %heroh1;
    }
}

.foto-final{
    @extend %flex;
    @extend %width;
    @extend %background;
    background: linear-gradient( rgba(0, 0, 0, 0.404), rgba(0, 0, 0, 0.404)), url("../assets/images/hombredeespaldas.jpg");
    &-h3{
       @extend %heroh1;  
    }
}

.hero-nosotros{
    @extend %flex;
    @extend %width;
    @extend %background;
    background: linear-gradient( rgba(0, 0, 0, 0.404), rgba(0, 0, 0, 0.404)), url("../assets/images/alimentoscuerdaestetoscopio.webp");
    &-h1{
        @extend %heroh1;
    }
}

.hero-ejercicios{
    @extend %flex;
    @extend %width;
    @extend %background;
    background: linear-gradient( rgba(0, 0, 0, 0.404), rgba(0, 0, 0, 0.404)), url("../assets/images/hero-ejercicios.jpg");
    
    &-h1{
        @extend %heroh1;  
    }
}

.hero-comunidad{
    @extend %flex;
    @extend %width;
    @extend %background;
    background: linear-gradient( rgba(0, 0, 0, 0.404), rgba(0, 0, 0, 0.404)), url("../assets/images/comunidad-hero.jpeg");
    &-h1{
        @extend %heroh1;  
    }
}

.foto-final-comunidad{
    @extend %flex;
    @extend %width;
    @extend %background;
    background: linear-gradient( rgba(0, 0, 0, 0.404), rgba(0, 0, 0, 0.404)), url("../assets/images/chicocorriendocapucha.jpg"); 
    &-h3{
       @extend %heroh1; 
    }
}
