.fondoparrafo{
  width: 100%;
  height: auto-fill;
  margin-top: 3rem;
  margin-bottom: 3rem;
  display: flex;
  flex-direction: column;
  background-image: url("../assets/images/fondo-index.jpg");
  background-position: center;
  background-size: cover;
  
}

.parrafo-rgba{
  margin-top: 3rem;
  margin-bottom: 3rem;
  margin-left: 3rem;
  margin-right: 3rem;
  justify-content: center;
  
  font-size: 1.8rem;
  color:$blanco;
  &-p {
    padding: 3rem 3rem 3rem 3rem;
      text-align: center;
      background-color: #1c658c8f;
  }
}

.foto-team img{
  display: flex;
  margin-top: 6rem;
  border-radius: 5px;
  
}

